[submodule "thirdparty/securec"]
	path = thirdparty/securec
	url = https://gitcode.com/openeuler/libboundscheck.git
	branch = master
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://gitcode.com/GitHub_Trending/go/googletest.git
	branch = release-1.8.1
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://gitcode.com/GitHub_Trending/js/json.git
[submodule "thirdparty/makeself"]
	path = thirdparty/makeself
	url = https://gitcode.com/cann-src-third-party/makeself.git
	branch = master
[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = https://gitcode.com/GitHub_Trending/ll/llvm-project.git
        branch = refs/tags/llvmorg-19.1.7

[submodule "msopscommon"]
	path = msopscommon
	url = https://gitcode.com/Ascend/msopcom.git
	branch = master
